h1,
h2,
h3,
p,
a,
img,
header,
.banner {
  font-family: "Helvetica", sans-serif;
  text-align: center;
  display: block;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-size: 23px;
  font-weight: bold;
}

h3 {
  font-size: 14px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px
  color: white;
}

header {
  background-image: url("resources/images/the-flatiron-building.png")
  padding-top: 25px;
}

.vertical a {
  padding-top: 15px;
}

.center {
  margin-left:auto;
  margin-right: auto;
}
.banner {
  color: white;
  background-image:url("resources/images/the-flatiron-building.png");
  padding-top: 3px;
}

footer {
  background-color: dimgray;
}
